@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");

body {
  background-color: rgb(209, 79, 27) !important ;
}

#titulo {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  background-color: rgb(196, 82, 181);
}

#formulario {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: white;
}

#botonEnviar {
  background-color: rgb(220, 15, 125);
  border: rgb(220, 15, 125) 2px solid;
}
